asgiref==3.12.1
Django==6.1
django-bootstrap5==26.2
django-filter==26.1
django-stubs==6.1.0
django-stubs-ext==6.1.0
djangorestframework==3.18.0
djangorestframework-stubs==3.18.0
gunicorn==26.2.0
pillow==12.3.0
sqlparse==0.6.0
types-PyYAML==6.0.12.20260815
typing_extensions==4.16.0
whitenoise==6.12.0
